/*-----------------------------------------
Form
-----------------------------------------*/
.c-form1 {
    width: 585px;
    margin: 25vh auto;
    color: #4c4c4c;
    h2 {
        font-size: 19px;
        font-weight: 500;
        text-align: center;
    }
    &__ttl {
        font-size: 13px;
        color: #7a7a7a;
    }
    select,
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 5px;
        &:focus {
            outline: none;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    &__select {
        width: 140px;
        margin-right: 30px;
        position: relative;
        span {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 50%;
            right: 10px;
            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: #ccc;
            transform: rotate(45deg) translateY(-50%);
        }
        select {
            -webkit-appearance: none;
            appearance: none;
            color: #4c4c4c;
            &::-ms-expand {
                display: none;
            }
        }
    }
    &__input {
        width: calc(100% - 140px);
        &-email {
            width: 100%;
        }
    }
    &__btn {
        text-align: center;
        button {
            width: 250px;
            border-radius: 30px;
            padding: 10px;
            border: none;
            font-size: 20px;
            text-transform: uppercase;
            opacity: .8;
            transition: all .3s ease-in-out;
            background: green;
            color: #fff;
            cursor: pointer;
            &:disabled {
                background: #ccc;
                color: #fff;
                cursor: default;
                &:hover {
                    opacity: .8;
                }
            }
            &:focus {
                outline: none;
            }
            &:hover {
                opacity: .7;
            }
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #7a7a7a;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #7a7a7a;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #7a7a7a;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #7a7a7a;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #7a7a7a;
    }
    
    ::placeholder { /* Most modern browsers support this now. */
       color:    #7a7a7a;
    }
}